.contact {
    margin-top: 220px;
    text-align: center;
    align-items: center;
}
.contact h1 {
    font-weight: 900;
    letter-spacing: -1px;
    word-spacing: -15px;
    color: var(--LightestSlate);
}
.contactdetails {
    margin: 0px 200px;
    word-spacing: -1px;
    line-height: 25px;
}

/* Mobile View  */
@media screen and (max-width: 480px) {
    .contact {
        margin-top: 160px;
        margin-bottom: -120px;
    }
    .contact h1 {
        word-spacing: -10px;
        letter-spacing: -0.5px;
    }
    .contact p {
        font-size: 13px;
    }
    .contactdetails {
        margin: auto;
    }
}