.samsung{
    text-align: left;
    margin-top: 30px;
    margin-left: 300px;
}
.expHeading {
    width: 55%;
    font-size: 30px;
}
.expHeading:hover {
    color: var(--Green);
}
.expHeading::before {
    content: '▹';
    color: var(--Green);
    display: inline-block;
    vertical-align: middle;
    margin-left: -1em;
}
.exp {
    margin-left: 30px;
}
.hidden {
    display: none;
}
.expand {
    display: block;
}
.period {
    font-size: 10px;
    margin-left: 50px;
}
.expDesc {
    margin-top: 10px;
    margin-left: 50px;
    font-size: 10px
}
.nav {
    display: block
}
.expTitle {
    padding-left: 15px;
    margin-bottom: 10px;
    width: 30%;
}
.active {
    color: var(--Green);
}

.job_description {
    margin-top: 20px;
    item-align: center;
    text-align: left;
}

@media screen and (max-width: 480px) {
  .experience {
    text-align: left;
    width: 100%;
  }
  .samsung {
    margin-left: 50px;
  }
  .expHeading {
    width: 95%;
    font-size: 25px;
  }
  .exp {
    margin-left: 10px;
  }
  .expTitle::before {
    display: inline-block;
    content: "";
    border-top: .1rem solid grey;
    width: 3rem;
    margin: 5px 0;
  }
  .period {
    margin-left: 65px;
  }
}