.experience {
    width: 100%;
    text-align: center;
}
.exp {
    margin-left: 140px;
}
.samsung{
    text-align: left;
    margin-top: 30px;
    width: 70%;
}
.expHeading {
    width: 30%;
    font-size: 24px;
}
.expHeading:hover {
    color: var(--Green);
}
.expHeading::before {
    content: '▹';
    color: var(--Green);
    display: inline-block;
    vertical-align: middle;
}
.hidden {
    display: none;
}
.expand {
    display: grid;
}
.period {
    font-size: 10px;
    margin-left: 20px;
}
.expDesc {
    margin-top: 5px;
    margin-left: 39px;
    font-size: 11px
}
.sub-menu {
    margin-left: -22px;
}
.expTitle {
    display: ruby;
}
.hierarchy {
    position: relative;
}
.hierarchy::before {
    background-color: var(--LightestNavy);
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 2.5%;
}
.vertical-hierarchy {
    display: grid;
    height: 30px;
    float: left;
    width: 1px;
    margin: 3px 0px;
    border: 1px inset #a8b2d1;
}
.highlighted {
    color: var(--LightestSlate);
}
.job_description {
    display: flex;
}
.desc-vertical-hierarchy {
    margin-top: -10px;
    width: 1px;
    height: 60px;
    border: 1px inset #a8b2d1;
}
.mobile-exp {
    display: none;
}

@media screen and (max-width: 480px) {
  .exp {
    display: none;
  }
  .mobile-exp {
    margin-top: 20px;
    margin-left: calc(25px + (100vw - 360px) * 0.35);
    text-align: left;
    display: block;
  }
  p {
    font-size: 11px;
  }
  .mobile-period {
    font-size: 6px;
  }
  .title::before {
    content: "▹";
    color: var(--Green);
  }
  .desc {
    font-size: 9px;
  }
}

@media screen and (min-width: 1201px) {
    .exp {
        margin-left: calc(140px + (100vw - 1201px) * 0.35);
    }
}