.samsung{
    text-align: left;
    margin-top: 30px;
    margin-left: 250px;
}
.expHeading {
    width: 55%;
    font-size: 24px;
}
.expHeading:hover {
    color: var(--Green);
}
.expHeading::before {
    content: '▹';
    color: var(--Green);
    display: inline-block;
    vertical-align: middle;
    margin-left: -1em;
}
.hidden {
    display: none;
}
.expand {
    display: grid;
}
.period {
    font-size: 10px;
    margin-left: 20px;
}
.expDesc {
    margin-top: 5px;
    margin-left: 45px;
    font-size: 11px
}
.nav {
    display: block
}
.expTitle {
    margin-top: 10px;
    display: ruby;
}
.hierarchy::before {
    background-color: var(--LightestNavy);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 2%;
}
.vertical-hierarchy {
    display: grid;
    margin: 15px 0px 0px 8px;
    height: 10px;
    float: left;
    border: 1px inset #a8b2d1;
}
.highlighted {
    color: var(--LightestSlate);
}
.sub-menu {
    margin-left: -55px;
}
.job_description {
    item-align: center;
    text-align: left;
}

@media screen and (max-width: 480px) {
  .experience {
    text-align: left;
    width: 100%;
  }
  .samsung {
    margin-left: 50px;
  }
  .expHeading {
    width: 95%;
    font-size: 25px;
  }
  .exp {
    margin-left: 10px;
  }
  .expTitle::before {
    display: inline-block;
    content: "";
    border-top: .1rem solid grey;
    width: 3rem;
    margin: 5px 0;
  }
  .period {
    margin-left: 65px;
  }
}